### Java (Essencial) ###
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/modules.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Maven (Se usar) ###
target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

### Gradle (Se usar) ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
Desktop.ini
ehthumbs.db

### Segurança (Nunca suba chaves) ###
.env
.env.local
secrets.properties
src/BigDecimal/
src/ClasseOptional/
src/Main.java
src/Enumeration/Main.java
src/Enumeration/OperationEnum.java
.idea/